@font-face {
  font-family: "Basic Grotesque Arabic Pro-Bold";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Bold.woff2') format("woff2"),
        url('assets/Fonts/BasisGrotesqueArabicPro-Bold.woff') format("woff");
}

@font-face {
  font-family: "Basic Grotesque Arabic Pro-Regular";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Regular.woff2') format("woff2"),
        url('assets/Fonts/BasisGrotesqueArabicPro-Regular.woff') format("woff");
}

@font-face {
  font-family: "Basic Grotesque Arabic Pro-Light";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Light.woff2') format("woff2"),
        url('assets/Fonts/BasisGrotesqueArabicPro-Light.woff') format("woff");
}

@font-face {
  font-family: "Proxima Nova Font";
  src: url('assets/Fonts/ProximaNovaFont.woff2') format("woff2"),
        url('assets/Fonts/ProximaNovaFont.woff') format("woff");
}

body{
  margin: 0;
  padding: 0;
}

h3,p{
  margin: 0;
  padding: 0;
}

.appLayout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 -7px 46px #767474;
    box-sizing: border-box;
    padding: 10px 4rem 10px 2rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100vw;
    z-index: 10000;
    &__logoContainer{
      &__logo{
        width: 80px;
      }
    }

    &__searchContainer,
    &__shimmerContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px 8px 1.2rem;
      background-color: #f7f9f9;
      border: 1px solid #ebedee;
      border-radius: 60px;
      width: 35rem;
      &__search{
        background-color: #f7f9f9;
        outline: none;
        border: none;
        font-family: "Basic Grotesque Arabic Pro-Light";
        font-size: 18px;
        width: 90%;
      }
      &__btn:hover{
        background-color: #9aa4e1;
      }
      &__btn{
        border: none;
        background-color: #e4e6ee;
        cursor: pointer;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }

    &__features{
      &__list{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      list-style: none;
      color: #383737;
      font-family: "Proxima Nova Font";
      font-size: 1.3rem;
      font-weight: 500;
      }
    }
  }

  .appBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    z-index: 0;

    &__heading{
      font-family: "Proxima Nova Font";
      font-size: 2.2rem;
      text-align: left;
      width: 74%;
    }

    .filterButtons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .restauContainer{
      display: grid;
      grid-template-columns: repeat(4, 16rem);
      gap: 2rem;
      padding: 2rem 0;
  
      &__restauCard:hover{
        transform: scale(0.95);
        transition: transform 950ms ease;
      }
      &__restauCard{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 22px 22px 12px 12px;
        border: 1px solid #d9dcdc;
        box-shadow: 2px 2px 6px #dadddd;
        height: 18rem;
        width: 16rem;
        &__image{
          border-radius: 12px;
          height: 150px;
          width: 100%;
          &__img{
            border-radius: 12px;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
  
        &__details{
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 0 14px 14px 14px;
          &__name{
            font-family: "Basic Grotesque Arabic Pro-Bold";
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &__info{
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: "Basic Grotesque Arabic Pro-Bold";
            font-size: 16px;
            &__star{
              width: 18px;
            }
          }

          &__cuisine,
          &__address{
            font-family: "Basic Grotesque Arabic Pro-Light";
            font-size: 16px;
          }

          &__cuisine{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.shimmerBody{
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  &__shimmerContainer{
    grid-template-columns: repeat(4, 16rem);
    gap: 2rem;
    padding: 2rem 0;
    display: grid;
    &__shimmerCard{
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 16rem;
      height: 18rem;
      &__image{
        background-color: #eee;
        border-radius: 6px;
        width: 100%;
        height: 150px;
      }
      &__detailsContainer{
        display: flex;
        flex-direction: column;
        gap: 12px;
        :first-child{
          width: 80%;
        }
        :last-child{
          width: 50%;
        }
        &__details{
          background-color: #eee;
          height: 14px;
        }
      }
    }
  }
}

.primary-btn{
  cursor: pointer;
  outline: none;
  background-color: white;
  padding: 0.6rem 1.3rem;
  border: 1px solid #d5dada;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #d1cece;
  font-family: "Basic Grotesque Arabic Pro-Regular";
  font-size: 14px;
}