@font-face {
  font-family: "Basic Grotesque Arabic Pro-Bold";
  src: url("assets/Fonts/BasisGrotesqueArabicPro-Bold.woff2") format("woff2"), url("assets/Fonts/BasisGrotesqueArabicPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Basic Grotesque Arabic Pro-Regular";
  src: url("assets/Fonts/BasisGrotesqueArabicPro-Regular.woff2") format("woff2"), url("assets/Fonts/BasisGrotesqueArabicPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Basic Grotesque Arabic Pro-Light";
  src: url("assets/Fonts/BasisGrotesqueArabicPro-Light.woff2") format("woff2"), url("assets/Fonts/BasisGrotesqueArabicPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Font";
  src: url("assets/Fonts/ProximaNovaFont.woff2") format("woff2"), url("assets/Fonts/ProximaNovaFont.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
}

h3, p {
  margin: 0;
  padding: 0;
}

.appLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.appLayout .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 -7px 46px #767474;
  box-sizing: border-box;
  padding: 10px 4rem 10px 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
  z-index: 10000;
}
.appLayout .header__logoContainer__logo {
  width: 80px;
}
.appLayout .header__searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 1.2rem;
  background-color: #f7f9f9;
  border: 1px solid #ebedee;
  border-radius: 60px;
  width: 35rem;
}
.appLayout .header__searchContainer__search {
  background-color: #f7f9f9;
  outline: none;
  border: none;
  font-family: "Basic Grotesque Arabic Pro-Light";
  font-size: 18px;
  width: 90%;
}
.appLayout .header__searchContainer__btn:hover {
  background-color: #9aa4e1;
}
.appLayout .header__searchContainer__btn {
  border: none;
  background-color: #e4e6ee;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.appLayout .header__features__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  color: #383737;
  font-family: "Proxima Nova Font";
  font-size: 1.3rem;
  font-weight: 500;
}
.appLayout .appBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6rem;
  z-index: 0;
}
.appLayout .appBody__heading {
  font-family: "Proxima Nova Font";
  font-size: 2.2rem;
  text-align: left;
  width: 74%;
}
.appLayout .appBody .filterButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.appLayout .appBody .restauContainer {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  gap: 2rem;
  width: 74%;
  padding: 2rem 0;
}
.appLayout .appBody .restauContainer__restauCard:hover {
  transform: scale(0.95);
  transition: transform 950ms ease;
}
.appLayout .appBody .restauContainer__restauCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 26px 26px 10px 10px;
  border: 1px solid #d9dcdc;
  box-shadow: 2px 2px 6px #dadddd;
  height: 18rem;
  width: 16rem;
}
.appLayout .appBody .restauContainer__restauCard__image {
  border-radius: 20px;
  height: 150px;
  width: 100%;
}
.appLayout .appBody .restauContainer__restauCard__image__img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.appLayout .appBody .restauContainer__restauCard__details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 14px 14px 14px;
}
.appLayout .appBody .restauContainer__restauCard__details__name {
  font-family: "Basic Grotesque Arabic Pro-Bold";
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.appLayout .appBody .restauContainer__restauCard__details__info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Basic Grotesque Arabic Pro-Bold";
  font-size: 16px;
}
.appLayout .appBody .restauContainer__restauCard__details__info__star {
  width: 18px;
}
.appLayout .appBody .restauContainer__restauCard__details__cuisine, .appLayout .appBody .restauContainer__restauCard__details__address {
  font-family: "Basic Grotesque Arabic Pro-Light";
  font-size: 16px;
}
.appLayout .appBody .restauContainer__restauCard__details__cuisine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-btn {
  cursor: pointer;
  outline: none;
  background-color: white;
  padding: 0.6rem 1.3rem;
  border: 1px solid #d5dada;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #d1cece;
  font-family: "Basic Grotesque Arabic Pro-Regular";
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */